body {
  font-family: 'Noto Sans';
}

.app {
  grid-template-rows: max-content 1fr max-content;
}

.header {
  border-bottom: 1px solid var(--border-color);
}
.footer {
  border-top: 1px solid var(--border-color);
  font-size: 12px;
  font-weight: 200;
}

.header,
.main,
.footer {
  display: block;
  padding: 16px;
}
