:root {
  --zoom: 12px;
  --image-size: calc(var(--profile-height) - var(--offset) + var(--zoom));
}

.avatar {
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  padding: var(--offset);
  position: relative;
  transform-style: preserve-3d;
  width: var(--profile-height);
}

.avatar > .contents {
  display: flex;
  position: relative;
  width: 100%;
}

.avatar > .contents > svg {
  fill: var(--text-accent-color);
}

.avatar .image {
  background-position: center;
  background-size: var(--image-size) var(--image-size);
  height: 100%;
  width: 100%;
}

.circle-crop {
  border-radius: 50%;
  height: inherit;
  overflow: hidden;
  width: inherit;
}

.avatar:before {
  border-radius: inherit;
  bottom: 0;
  box-sizing: border-box;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
.avatar:before {
  /* background: linear-gradient(
    123deg,
    yellow,
    magenta 50%,
    var(--text-accent-color)
  ); */
  background-clip: content-box;
  background-color: var(--text-accent-color);
  filter: blur(var(--gap));
  padding: var(--gap);
  transform: translateZ(-1px);
}
