.avatar {
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  padding: var(--offset);
  position: relative;
  transform-style: preserve-3d;
  width: var(--profile-height);
}

.image-frame {
  align-items: center;
  display: flex;
  height: var(--frame-size);
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: var(--frame-size);
}

.image {
  border-radius: 50%;
  height: var(--image-size);
  user-select: none;
  width: var(--image-size);
}

.circle-crop {
  border: 2px solid var(--title-color);
  border-radius: 50%;
  height: inherit;
  overflow: hidden;
  width: inherit;
}

/* .avatar:before {
  border-radius: inherit;
  bottom: 0;
  box-sizing: border-box;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
} */
/* background: linear-gradient(
    123deg,
    yellow,
    magenta 50%,
    var(--text-accent-color)
  ); */
/* .avatar:before {
  background-clip: content-box;
  background-color: var(--text-accent-color);
  filter: blur(var(--gap));
  padding: var(--gap);
  transform: translateZ(-1px);
} */

.avatar-shimmer {
  animation-direction: reverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loading;
  background-image: linear-gradient(
    -45deg,
    var(--dark-color) 43%,
    var(--light-color) 50%,
    var(--dark-color) 57%
  );
  background-size: 200% 200%;
  border-radius: 'inherit';
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.avatar-shimmer.loaded {
  animation-iteration-count: 2;
  background-image: linear-gradient(
    -45deg,
    var(--dark-color) 43%,
    var(--light-color) 50%,
    transparent 57%
  );
}

@keyframes loading {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}
