.card {
  display: flex;
  position: relative;
  width: 100%;
}

.card .details {
  column-gap: 6px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.card .details > * {
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  white-space: nowrap;
}
@media screen and (max-width: 400px) {
  .card .details > * {
    flex-grow: 1;
  }
}

.card .label {
  font-weight: bold;
}

.card svg.frame circle {
  stroke: green;
}
