.card {
  /* background-color:  */
  background: radial-gradient(
    farthest-corner circle at 0% 0%,
    hsla(210, 100%, 23%, 0.2) 0%,
    hsl(210, 14%, 7%) 100%
  );
  /* background: radial-gradient(
    farthest-corner circle at 0% 0%,
    hsl(215, 15%, 97%) 0%,
    hsl(210, 100%, 96%) 100%
  ); */
  border: 1px solid var(--border-color);
  border-radius: 50px;
  display: flex;
  gap: 25px;
  max-width: 500px;
  padding: 50px;
  position: relative;
}

.card .label {
  font-weight: bold;
  text-transform: capitalize;
}

.card .details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card .details > * {
  border: 1px dotted var(--text-color);
  border-radius: 25px;
  padding: 12px;
}
