:root {
  --px: 6px;
  --px-border: calc(var(--px) * 2);
  --px-svg: calc(var(--px) * 3);
}

.header .box {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.header .box > * {
  display: inline-flex;
}

.header :is(.theme-toggle-label, svg) {
  border-radius: var(--px-border);
  box-sizing: content-box;
}

.header svg {
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  fill: var(--text-accent-color);
  height: var(--px-svg);
  padding: var(--px);
  width: var(--px-svg);
}

.header .theme-toggle-label:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-border-color);
}
