/* .header {
  align-items: center;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 60px);
  justify-content: end;
  justify-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.header-item {
  align-content: center;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.theme-toggle-label {
  z-index: 300;
}

.theme-toggle-label > svg.icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
} */

:root {
  --px: 6px;
  --px-radius: calc(var(--px) * 2);
  --px-svg-size: calc(var(--px) * 3);
  --px-label-size: calc(var(--px) * 4);
}
.header .theme-toggle-label {
  height: var(--px-label-size);
  width: var(--px-label-size);
}
.header svg {
  border: 1px solid var(--border-color);
  border-radius: var(--px-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  fill: var(--text-accent-color);
  height: var(--px-svg-size);
  padding: var(--px);
  width: var(--px-svg-size);
}
.header svg:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-border-color);
}
.header svg:focus {
  outline: none;
}
