.repos-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.search-bar {
  align-items: center;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  white-space: nowrap;
}

.search-bar label {
  align-items: inherit;
  display: inherit;
  flex-wrap: inherit;
  gap: inherit;
}

.search-bar input {
  background-color: white;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: var(--offset);
  padding-top: var(--offset);
  width: 100%;
}

.search-bar svg {
  fill: black;
}

.search-bar.focus-visible {
  outline: blue auto 1px;
}

input#search-bar:focus-visible {
  outline: none;
}
