:root {
  --repo-border-radius: 999px;
}

.repo {
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 0;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--repo-border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  height: var(--button-size);
  justify-content: center;
  position: relative;
}

.search-tools {
  margin-bottom: calc(var(--padding) * 2);
  width: 100%;
}

.repo,
.search-tools,
.search-tools input,
.search-tools label,
.repo .repo-title,
.repo-name {
  box-sizing: border-box;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.repo {
  order: 3;
}
.search-tools {
  order: 2;
}

button.repo-title {
  background-color: transparent;
  border-style: none;
  padding-bottom: 10px;
  padding-top: 12px;
}

.repo-title,
.repo-link-button,
.repo-source-button {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: var(--offset) var(--padding);
  position: relative;
}

.repo-title:disabled {
  cursor: default;
}

.repo-link-button {
  border-bottom-right-radius: inherit;
  border-left: 1px solid var(--border-color);
  border-top-right-radius: inherit;
}

.repo-link-button svg,
.repo-source-button svg {
  opacity: 0.6;
}

.repo-source-button {
  border-bottom-left-radius: inherit;
  border-right: 1px solid var(--border-color);
  border-top-left-radius: inherit;
}

.repo-date {
  box-sizing: border-box;
  color: var(--text-accent-color);
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  justify-self: flex-start;
  min-width: 32px;
  padding-right: 8px;
}

.repo-title {
  border-radius: inherit;
  color: var(--text-color);
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: inherit;
  gap: 4px;
  white-space: wrap;
  word-break: break-all;
}

.repo.loading {
  animation-iteration-count: 1;
  flex-grow: 0;
  height: var(--button-size);
  width: var(--button-size);
}

.repo-link-button svg,
.repo-source-button svg {
  fill: var(--text-color);
}

@keyframes bounce {
  33% {
    transform: translateY(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce-repeat {
  33% {
    transform: translateY(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
