.search-tools {
  align-items: center;
  border-radius: 50px;
  column-gap: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  row-gap: calc(var(--padding) * 2);
  white-space: nowrap;
}

.sort-tools {
  position: relative;
}

.search-tools label {
  align-items: inherit;
  display: inherit;
  flex-wrap: inherit;
  gap: inherit;
}

.search-tools input {
  background-color: inherit;
  border: none;
  border-radius: inherit;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: var(--offset);
  padding-top: var(--offset);
  width: 100%;
}

.search-tools svg {
  fill: black;
}

.sort-button {
  align-items: center;
  background-color: var(--theme-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  font-size: 16px;
  gap: 8px;
  height: var(--button-size);
  justify-content: center;
  letter-spacing: 1px;
  padding: 0 20px;
  user-select: none;
  white-space: nowrap;
}
.sort-button svg {
  fill: var(--text-color);
}
.sort-button:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-border-color);
}
.sort-button.active {
  border-color: var(--title-color);
}

.search-bar {
  align-items: center;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  color: black;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  gap: 8px;
  padding-left: var(--padding);
  padding-right: var(--padding);
  position: relative;
  white-space: nowrap;
}

.search-bar.focus-visible {
  outline: blue auto 1px;
}

.search-bar.disabled {
  outline: none;
}

input[type='search']#search:focus-visible {
  outline: none;
}

input[type='search']#search::-webkit-search-cancel-button {
  cursor: pointer;
}
