.mui-sort-menu {
  margin-top: 16px;
  position: absolute;
  right: 0;
  width: 198px;
  z-index: 1;
}

.mui-sort-menu .MuiList-root {
  padding: 0;
}

.sort-menu-button {
  align-items: center;
  background-color: transparent;
  border-radius: var(--border-radius);
  border-style: none;
  cursor: pointer;
  display: flex;
}

.sort-menu-button svg {
  height: 11px;
  width: 11px;
}

.sort-menu-header .MuiTypography-root {
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}

.sort-menu-item {
  padding-bottom: 8px;
  padding-top: 8px;
}

.sort-menu-item .MuiTypography-root {
  font-size: 13px;
}

.sort-menu-divider.MuiDivider-root.MuiDivider-fullWidth {
  margin: 0;
}

.mui-sort-menu .sort-menu-icon.MuiListItemIcon-root {
  min-width: 28px;
}
