html,
body,
#root,
.theme {
  box-sizing: border-box;
  display: grid;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

html {
  overflow-y: scroll;
  overscroll-behavior-x: none;
}

:root {
  --dark-blue: hsla(210, 100%, 23%, 0.2);
  --gap: 6px;
  --offset: calc(var(--gap) * 2);
  --profile-height: 181px;
  --padding: 16px;
  --zoom: 12px;
  --image-size: calc(var(--profile-height) - var(--offset) + var(--zoom));
  --frame-size: calc(var(--profile-height) - var(--offset) - var(--zoom));
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-size: 16px;
  --line-height: calc(var(--font-size) + 2px);
  --button-size: 44px;
}
@media screen and (max-width: 400px) {
  :root {
    --padding: 12px;
  }
}
@media screen and (max-width: 320px) {
  :root {
    --gap: 4px;
    --padding: 8px;
    --profile-height: 149px;
    --button-size: 36px;
  }
}

:root {
  --lavender: #d6e3f8;
  --seashell: #fef5ef;
  --wenge: #4d424a;
  --periwinkle: #ccccff;
  --bone: #ccc7b9;
  --french-gray: #cbcbd4;
  --rose-quartz: #adaabf;
  --english-violet: #49455f;
  --taupe-gray: #92828d;
  --pale-dogwood: #ceb5a7;
  --munsell-blue: #2c8c99;
  --celadon: #96e6b3;
  --sunset: #fed18c;
  --celeste: #a9f8fb;
  --nyanza: #ddffd9;
  --ecru: #d7b377;
  --flax: #ecdd7b;
  --night: #0f1214;

  /* these are used to set the html background-color */
  --dark-mode: var(--night);
  --light-mode: rgba(255, 255, 255, 0.8);
}

html {
  background-color: var(--test);
}

.theme {
  --theme-color: var(--dark-mode);
  --text-color: #cdd6e2;
  --light-color: var(--text-color);
  --title-color: #ffffff;
  --text-accent-color: rgb(102, 179, 255);
  --border-color: hsla(210, 14%, 31%, 0.5);
  --box-shadow: hsla(210, 14%, 22%, 0.3) 0 1px 0 inset,
    hsl(200, 10%, 4%) 0 -1px 0 inset, hsl(200, 10%, 4%) 0 1px 2px 0;
  --hover-color: rgba(29, 33, 38, 0.8);
  --hover-border-color: rgb(48, 56, 64);
  --dark-color: var(--hover-border-color);
  --background-color: var(--dark-blue);
  --background-gradient: radial-gradient(
    farthest-corner circle at 0% 0%,
    var(--dark-blue) 0%,
    hsl(210, 14%, 7%) 100%
  );
  --overlay-color: hsla(0, 0%, 100%, 0.2);
}

html[data-theme='light'],
#root > input:checked ~ .theme {
  --theme-color: var(--light-mode);
  --light-color: var(--theme-color);
  --text-color: #303741;
  --dark-color: var(--text-color);
  --title-color: hsl(210, 100%, 23%);
  --text-accent-color: rgb(0, 115, 230);
  --border-color: rgb(217, 222, 226);
  --box-shadow: #ffffff 0 1px 0 inset, hsla(215, 15%, 89%, 0.4) 0 -1px 0 inset,
    hsla(215, 15%, 89%, 0.5) 0 1px 2px 0;
  --hover-color: rgb(246, 247, 248);
  --hover-border-color: rgb(202, 208, 216);
  --background-color: hsl(215, 15%, 97%);
  --background-gradient: radial-gradient(
    farthest-corner circle at 0% 0%,
    hsl(215, 15%, 97%) 0%,
    hsl(210, 100%, 96%) 100%
  );
  --overlay-color: hsla(0, 0%, 0%, 0.2);
}

.theme {
  background-color: var(--theme-color);
  color: var(--text-color);
}

:is(html[data-theme='light'], #root > input:checked ~ .theme) #light-mode,
#dark-mode {
  display: none;
}

:is(html[data-theme='light'], #root > input:checked ~ .theme) #dark-mode,
#light-mode {
  display: inline-flex;
}
